<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<% if (locals.user) { %> 
		<%- include('partials/headerLogueado') %>
	<% } else { %>
		<%- include('partials/header') %>
	<% } %> 
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= producto.productName %> </h2> 
			
			<p class="product-detail-description"><a href="/product/edit/<%= producto.id %>">Editar</a></p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/<%= producto.imagen %>" alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%= producto.descripcion %></p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for(let i = 0; i < producto.comentario.length; i++ ) { %>
						<article>
							<img src="/images/users/<%= producto.comentario[i].avatar%>" alt="">	
							<div class="data">
								<p class="user">
									<strong> <a href="/users/profile/<%= producto.comentario[i].id %>"><%= producto.comentario[i].userName %>: </a> </strong>
									<%= producto.comentario[i].comentarios.comentarioTexto %></p>
							</div>
						</article>
						<% } %>
					</section>
					<form class="form" action="/product/comentario/<%= producto.id %>" method="POST">
						<input class="form-input" type="text" name= texto value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->

</body>

</html>