<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>

<body>
	<!-- Header -->
	<% if (locals.user) { %> 
		<%- include('partials/headerLogueado') %>
	<% } else { %>
		<%- include('partials/header') %>
	<% } %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="col-12">
			<h2 class="products-title">Editar mi perfil</h2>
		</div>

		<form action="/users/edit/<%= locals.user.id %>" method="POST" enctype="multipart/form-data" class="formulario">
			<input type="text" name="usuario" value="usuario" placeholder="usuario">
			<input type="password" name="contrasena" placeholder="<%= locals.user.contrasena %>">
			<input type="date" name="nacimiento" placeholder="<%= locals.user.fechaNac %>">
			<input type="number" name="dni" placeholder="<%= locals.user.DNI %>">
			<input type="file" name="foto">
			<button type="submit" title="Ingresar" name="Ingresar">Modificar Usuario</a></button>
		</form>
	</div>


	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->
</body>

</html>